    /*Början! booking och master CSS*/
    

   /*start belongs to calendar*/
	.demoHeaders{
		margin-top: 2em;
	}
	#dialog-link{
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon{
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons{
		margin: 0;
		padding: 0;
	}
	
	#icons li{
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	
	#icons span.ui-icon{
		float: left;
		margin: 0 4px;
	}
	

	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	
	
	select{
		width: 200px;
	}
	/*stop belongs to calendar*/

	
	/**/
	.booking{
    	min-height: 800px; 
		background-image: url("../img/testbild2.jpg"); 
		background-color: #cccccc;
    	max-width: 100% !important;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	}

	body{
		background-color:#B18484 !important;		
	}
	
	#datepicker{
		margin-top: 140px;
		background-color: ;
		height: 250px;
		border-color: #1F2024;
	}

	
	.formthing{
		margin-top: 21px !important;
	}
	
	footer{

		margin-bottom:0px;  
		background-color: #1F2024;
		bottom:0px;
		width: 100%;
		padding-bottom: 8px;

	}
  
	footer p{
		color: #FFF;
		margin-bottom: 0px;
	}

	footer i{
    font-style: italic;
    line-height: inherit;
    margin-right: 20px;
	margin-left: 10px;
	color: #fff;
	}
	
	.large-6 {
    width: 40% !important;
	}

	.large-6 p{
	max-height: 100%;
	max-width: 100%;
	}

	input[type="text"].shadow{
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	border-color: #DAD0D0;
	}

	.booking label{
	color: #534C4C;
	color:#7D7171;
	}

	.panel h2{
		margin-bottom: 10% !important;
		margin-left: 135px;
	}

	.large-4 {
    width: 33.3333%;
   	margin-left: 35px;
	margin-top: 20px;
	}
	/*ending off! booking och master CSS*/